# Ignore Terraform variables & state files
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfvars

# Ignore Terraform cache directory
.terraform/

# Ignore Terraform plan files
*.tfplan

# Ignore logs and system-specific files
*.log
.DS_Store
Thumbs.db